.header-container {
    grid-template-columns: auto auto auto;
    display: grid;
    background-color: #9c0d38;
    border-radius: 15px;
    padding: 20px;
    align-content: space-evenly;
}

.info-container {
    grid-template-columns: 25% 75%;
    display: grid;
    padding: 10px;
}

.info-icon {
    justify-self: end;
    padding-right: 15px;
    align-self: center;
}

.info-text {
    justify-self: start;
}

@media (max-width: 750px) {
    .header-container {
        grid-template-columns: 220px;
        display: grid;
        justify-content: space-evenly;
    }
}