.header-container {
    grid-template-columns: auto auto auto;
    display: grid;
    background-color: #9c0d38;
    border-radius: 15px;
    padding: 20px;
    align-content: space-evenly;
}

.info-container {
    grid-template-columns: 25% 75%;
    display: grid;
    padding: 10px;
}

.info-icon {
    justify-self: end;
    padding-right: 15px;
    align-self: center;
}

.info-text {
    justify-self: start;
}

@media (max-width: 750px) {
    .header-container {
        grid-template-columns: 220px;
        display: grid;
        justify-content: space-evenly;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #252422;
}

.avatar-container {
    background-color: white;
    padding: 15px;
    margin: 15px;
    color: black;
    border-radius: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.avatar-title {
    color: #9c0d38;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background-div {
    /* Location of the image */
    background-image: url(imgs/background.jpg);
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
     on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
     while the background image is loading */
    background-color: #464646;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin: 0px;
    z-index: -10;
    padding: 20px;
}

.background-div-main {
    height: 100vh;
    width: 100%;
    /* This is what makes the background image rescale based
   on the container's size */
    background-size: cover;
    /* Set a background color that will be displayed
   while the background image is loading */
    background-color: #464646;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #252422;
    margin: 0px;
    z-index: 0;
    position: absolute;
    top: 400px;
}

.link-container {
    display: grid;
    background-color: #9c0d38;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 150px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.link-head {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.link {
    height: 100px;
    width: 100px;
    text-align: center;
    border: 1px solid;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin: auto;
    transition: color 0.5s;
    cursor: pointer;
}

.link p {
    margin-top: 5px;
}

.cdwrs-img {
    position: relative;
    top: -15px;
}

@media (max-width: 525px) {
    .link-container {
        display: grid;
        background-color: #9c0d38;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 15px;
        grid-template-rows: 50px 150px 150px;
        padding-bottom: 15px;
    }
    .link-head {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }
}

.link:hover {
    color: #53a194;
}

.exp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    grid-gap: 40px;
}

@media (max-width: 880px) {
    .exp-container {
        display: grid;
        grid-template-columns: 1fr;
        background-color: rgba(255, 255, 255, 0);
        color: black;
        grid-gap: 40px;
    }
}

.exp {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    border-radius: 15px;
    grid-template-rows: 0.2fr 0.2fr 0.2fr auto;
    padding: 10px 20px;
}

.exp .title {
    text-align: center;
    color: #9c0d38;
}

.exp .duration {
    color: #0c9f86;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    margin-top: -10px
}

.exp ul {
    margin-top: 0;
}

.exp .company {
    color: #9c0d38;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
}

.exp .grade {
    text-align: right;
}

.exp .description {
    font-size: larger;
    margin-top: 15px;
}