.link-container {
    display: grid;
    background-color: #9c0d38;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 150px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.link-head {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.link {
    height: 100px;
    width: 100px;
    text-align: center;
    border: 1px solid;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin: auto;
    transition: color 0.5s;
    cursor: pointer;
}

.link p {
    margin-top: 5px;
}

.cdwrs-img {
    position: relative;
    top: -15px;
}

@media (max-width: 525px) {
    .link-container {
        display: grid;
        background-color: #9c0d38;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 15px;
        grid-template-rows: 50px 150px 150px;
        padding-bottom: 15px;
    }
    .link-head {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }
}

.link:hover {
    color: #53a194;
}